extends layout
block content
    section.introSection
        h1= object.title
        h4= `Blog entry #${object.blognumber}`
        p= object.body
        figure.imgFigure
            img(src=`/${object.imagesrc}` alt=`${object.imagealt}`).figImg
            blockquote Lorem ipsum
            figcaption
                a(href="#") ipsum foo bar baz