extends layout
block content
  h2 My notes
  section#articles
    each obj in blogposts
      figure.notesFigure
        article.articleContainerOuter
          article.articleContainer
            a(href=`/article/${obj.blognumber}`)#notesBlogTitle
              h3.notesFigureH3= obj.title
              h5.notesFigureH5= `Blogpost #${obj.blognumber}`
            h4.notesFigureH4= `${obj.bodyPreview}...`
            a(href=`/article/${obj.blognumber}`) < Read more >
          img(src=`${obj.imagesrc}` alt=`${obj.imagealt}`).notesFigureImg